<ion-view>
    <ion-nav-bar class="bar-primary">
        <ion-nav-buttons side="right">
            <button class="button-light" ng-click="doAbout()" nav-direction="back">
                Back
            </button>
        </ion-nav-button>
    </ion-nav-bar>
    <ion-nav-title>Location</ion-nav-title>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
        <div class="padding center">
            <h3 align="center">SMAN 23 Jakarta</h3>
            <p align="center">
                Prov. D.K.I, Jl. Mandala Utara No.6, RT.7/RW.7, Tomang, Kec. Grogol petamburan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11440 <br>
                <span><a href="https://sman23jkt.sch.id/" target="_blank">official website</a></span>
            </p>
        </div>
    </ion-content>
</ion-view>